extend layout

append body
  .container
    .row
      .col-lg-6.col-lg-offset-2
        each game in games
          .panel.panel-default
            .panel-body
              .row
                .col-lg-4
                  img(src=game.coverUrl, alt='cover')
                .col-lg-8
                  a(href='/game/main/' + game._id)
                    p #{ game.name }
                  p 平台: #{ game.platform }
                  if game.developer
                    p 开发者: #{ game.developer }
                  if game.releaseDate
                    p 发型日期: #{ game.releaseDate }
                  // 一方面有可能是字符串，另一方面有可能是数组
                  if game.tag && game.tag.length
                    p 类型: #{ game.tag }
    .row
      .col-lg-12
        nav.text-center
          ui.pagination
            if pageIndex === 1
              li.disabled
                a(href='#')
                  span(aria-hidden='true') &laquo;
                  span.sr-only Previous
            else
              li
                a(href='/?page=' + (pageIndex - 1))
                  span(aria-hidden='true') &laquo;
                  span.sr-only Previous
            - var pageIndexMin = pageIndex - 3;
            - var pageIndexMax = pageIndex + 3;
            - pageIndexMin = pageIndexMin < 1 ? 1 : pageIndexMin;
            - pageIndexMax = pageIndexMax > pageCount ? pageCount : pageIndexMax;
            - var pageIterator = pageIndexMin
            while pageIterator <= pageIndexMax
              if pageIterator === pageIndex
                li.active
                  a(href='/?page=' + pageIterator) #{ pageIterator }
              else
                li
                  a(href='/?page=' + pageIterator) #{ pageIterator }
              - pageIterator += 1
            if pageIndex === pageCount
              li.disabled
                a(href='#')
                  span(aria-hidden='true') &raquo;
                  span.sr-only Previous
            else
              li
                a(href='/?page=' + (pageIndex + 1))
                  span(aria-hidden='true') &raquo;
                  span.sr-only Previous
