extend ../layout

append head
  link(rel='stylesheet', href='/css/lib/jquery.Jcrop.min.css')
  script(src='/js/lib/jquery.Jcrop.min.js')
  script(src='/js/game/edit.js')

append body
  .container
    .row
      if isNew
        h1 创建新条目
      else
        h1 修改条目
      .col-lg-8
        p 请认真填写以下描述，如编辑成功，以下描述会直接展示在条目的页面上。
        form.form-horizontal(action=(isNew ? '/game/create' : '/game/update'), method='post', role='form')
          .form-group
            label.control-label.col-lg-2(for='platform') 平台
            .col-lg-3
              .dropdown
                button#platformMenu.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='true')
                  | 平台 
                  span.caret
                ul.dropdown-menu(role='menu', aria-labelledby='platformMenu', data-stopPropagation='true')
                  li(role='presentation')
                    .row
                      .col-lg-offset-2.col-lg-6
                        each platform in platforms
                          .checkbox
                            label
                              if (game && (game.platform.indexOf(platform) > -1))
                                input(name='platform-' + platform, type='checkbox', checked='checked')
                                | #{ platform }
                              else
                                input(name='platform-' + platform, type='checkbox')
                                | #{ platform }
          .form-group
            label.control-label.col-lg-2(for='name') 名称
            .col-lg-4
              input#name.form-control(name='name', type='text', value=game && game.name)
          .form-group
            label.control-label.col-lg-2(for='developer') 开发者
            .col-lg-4
              input#developer.form-control(name='developer', type='text', value=game && game.developer, placeholder='选填')
          // .form-group
            label.control-label.col-lg-2(for='releaseDate') 发行日期
            .col-lg-4
              input#releaseDate.form-control(name='releaseDate', type='text', placeholder='选填')
          .form-group
            label.control-label.col-lg-2(for='description') 介绍
            .col-lg-8
              p.help-block 介绍是条目的完整说明，它可以帮助其他人快速了解这个游戏
              textarea.form-control(name='description', rows='5')
                | #{ game && game.description }
          .form-group
            label.control-label.col-lg-2(for='cover') 图标(必需)
            .col-lg-8
              p.help-block 请不要上传带有水印的图标。(不要拉得太长)
              .row
                .col-lg-5
                  if (game && game.coverUrl)
                    img#cover-img(src=game && game.coverUrl, style='width: 128px')
                  else
                    img#cover-img(style='width: 128px; height: 128px;')
                .col-lg-7
                  .preview-panel
                    .preview-container(style='width: 128px; overflow: hidden')
                      img#cover-img-final(style='width: 128px; height: 128px;')
                    .row
                      .col-lg-2
                        p width
                      .col-lg-2
                        p#width
                      .col-lg-2
                        p height
                      .col-lg-2
                        p#height
              input#cover.imgUpload(type='file')
          input#gameId(name='gameId', type='hidden', value=game && game._id)
          input#imgUrl(name='imgUrl', type='hidden')
          input#x1(name='x1', type='hidden')
          input#y1(name='y1', type='hidden')
          input#x2(name='x2', type='hidden')
          input#y2(name='y2', type='hidden')
          .form-group
            .col-lg-offset-2.col-lg-4
              button.btn.btn-primary(type='submit') 好了，提交
