extend ../layout

append head
  script(src='/js/lib/jquery.raty.js')
  script(src='/js/game/main.js')

append body
  .container(style='width: 960px;')
    h2 #{ game.name }
    .row
      .col-lg-8
        .row
          .col-lg-3
            img(src=game.coverUrl)
            br
            br
            a.btn.btn-default(href='/game/edit/' + game._id) 修改信息
          .col-lg-4
            p 平台: #{ game.platform }
            p 开发者: #{ game.developer }
            // p 介绍: #{ game.description }
          .col-lg-5
            form.form-horizontal(role='form')
              .form-group
                label.col-lg-4.control-label(for="gameRating-overall") 总分
                .col-lg-6.control-label
                  #gameRating-overall.gameRating(rating=(gameRating.overall || 0))
                .col-lg-2.control-label
                  p #{ gameRating.overall }
              hr
              .form-group
                label.col-lg-4.control-label(for="gameRating-presentation") 整体表现
                .col-lg-6.control-label
                  #gameRating-presentation.gameRating(rating=(gameRating.presentation || 0))
                .col-lg-2.control-label
                  p #{ gameRating.presentation }
              .form-group
                label.col-lg-4.control-label(for="gameRating-graphics") 画面呈现
                .col-lg-6.control-label
                  #gameRating-graphics.gameRating(rating=(gameRating.graphics || 0))
                .col-lg-2.control-label
                  p #{ gameRating.graphics }
              .form-group
                label.col-lg-4.control-label(for="gameRating-sound") 音乐音效
                .col-lg-6.control-label
                  #gameRating-sound.gameRating(rating=(gameRating.sound || 0))
                .col-lg-2.control-label
                  p #{ gameRating.sound }
              .form-group
                label.col-lg-4.control-label(for="gameRating-gameplay") 游戏性
                .col-lg-6.control-label
                  #gameRating-gameplay.gameRating(rating=(gameRating.gameplay || 0))
                .col-lg-2.control-label
                  p #{ gameRating.gameplay }
              .form-group
                label.col-lg-4.control-label(for="gameRating-lastingAppeal") 耐玩度
                .col-lg-6.control-label
                  #gameRating-lastingAppeal.gameRating(rating=(gameRating.lastingAppeal || 0))
                .col-lg-2.control-label
                  p #{ gameRating.lastingAppeal }
      .col-lg-4
    br
    .row
      .col-lg-2
        // button.btn.btn-default 想玩
        button.btn.btn-default(type='button', data-toggle='modal', data-target='#ratingModal') 玩过
    .row
      .col-lg-12
        h3 #{ game.name } 的简介
        pre #{ game.description }
    .row
      .col-lg-8
        h4 短评
        hr
        each gameComment in gameComments
          a.btn-link(href='/user/main/#{ gameComment.commenterId }') #{ gameComment.commenterName }&nbsp
          small #{ gameComment.commentedAt }
          br
          small #{ gameComment.comment }
          hr

  #ratingModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ratingModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times
          h4#ratingModalLabel.modal-title #{ game.name }
        form.form-horizontal(action='/game/rating/' + game.id, method='post', role='form')
          .modal-body
            .form-group
              label.control-label.col-lg-2(for='#myGameRating-presentation') 整体表现
              .col-lg-10
                #myGameRating-presentation.myGameRating(rating=(myGameRating.presentation || 0))
            .form-group
              label.control-label.col-lg-2(for='#myGameRating-graphics') 画面呈现
              .col-lg-10
                #myGameRating-graphics.myGameRating(rating=(myGameRating.graphics || 0))
            .form-group
              label.control-label.col-lg-2(for='#myGameRating-sound') 音乐音效
              .col-lg-10
                #myGameRating-sound.myGameRating(rating=(myGameRating.sound || 0))
            .form-group
              label.control-label.col-lg-2(for='#myGameRating-gameplay') 游戏性
              .col-lg-10
                #myGameRating-gameplay.myGameRating(rating=(myGameRating.gameplay || 0))
            .form-group
              label.control-label.col-lg-2(for='#myGameRating-lastingAppeal') 耐玩度
              .col-lg-10
                #myGameRating-lastingAppeal.myGameRating(rating=(myGameRating.lastingAppeal || 0))
            hr
            .form-group
              label.control-label.col-lg-2(for='#myGameRating-overall') 总分
              .col-lg-10
                #myGameRating-overall.myGameRating(rating=(myGameRating.overall || 0))
            input#presentation(name='presentation', type='hidden')
            input#graphics(name='graphics', type='hidden')
            input#sound(name='sound', type='hidden')
            input#gameplay(name='gameplay', type='hidden')
            input#lastingAppeal(name='lastingAppeal', type='hidden')
            input#overall(name='overall', type='hidden')
            textarea.form-control(name='comment', rows=3) #{ myGameComment }
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit') 提交
